{% extends 'template.html' %}
{% load static %}
{% block content %}
  <div class="container  mt-4">
      <h1>Get in touch</h1>
      <p>Feel free to get in touch with us through any of the following channels:</p>
        <ul>
            <li><i class="fa-solid fa-envelope"></i> Email: <a href="ms1f102010018@iniad.org">s1f102010018@iniad.org</a></li>
            <li><i class="fa fa-linkedin"></i> LinkedIn: <a href="https://www.linkedin.com/in/anh-bui-7a7470196/">Anh Bui</a></li>
            <li><i class="fa fa-phone"></i> Phone: <a href="https://www.linkedin.com/in/anh-bui-7a7470196/">090 090 090</a></li>
        </ul>
    </div>  
{% endblock content %}