{% extends 'template.html' %}
{% load static %}
{% block title %} Intelligent Dictionary {% endblock title%}
{% block content %}
  <header>
    <div class="header_big my-4 p-4">
      <img src="{% static 'img/logo.png' %}" class="mb-4" alt="Logo" style="border-radius: 50%;">
      <h1>The intelligent dictionary you need</h1>
      <span class="span_header">Welcome to our revolutionary web application designed to make word searches faster and more efficient! Say goodbye to the traditional way of sifting through numerous definitions to find the perfect match for your word's meaning. With our cutting-edge platform, all you need to do is input the keyword and provide a context sentence, and we'll do the rest for you. Our advanced algorithm will analyze the context and present you with the closest meanings to your word, saving you valuable time and effort. Embrace the future of word exploration and experience the convenience of our intelligent word search tool. Say hello to <b>quick, accurate</b> word meanings at your fingertips!</span> <br>
      
      <button><a href="{% url 'search' %}">Get Started</a></button>
    </div>
  </header>  
{% endblock content %}   