{% extends 'template.html' %}
{% block title %} Intelligent Dictionary | Profile Page {% endblock title %}
{% block content %}
<div class="container my-4">
  <div class="my-3 p-3">
    <img class="rounded-circle account-img mb-4" src="{{ user.profile.avatar.url }} " style="cursor: pointer;"/>
    <div class="form-group rmb-me">
        <label class="mb-1">Change Avatar:</label>
        {{ profile_form.avatar }} 
    </div>

  </div>
{% if user_form.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <div id="form_errors">
            {% for key, value in user_form.errors.items %}
                <strong>{{ value }}</strong>
            {% endfor %}
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}
<div class="form-content">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="mb-1">Username:</label>
                        {{ user_form.username }}
                    <label class="mb-1">Email:</label>
                        {{ user_form.email }}
                </div>
                <div class="form-group">
                    <label class="mb-1">Bio:</label> {{ profile_form.bio }}   
                </div>                          
                <div class="form-row justify-content-center">
                    <a href="{% url 'password_change' %}">Change Password</a>          
                </div>
            </div>
        </div>
        <br><br>
        <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
        <button type="reset" class="btn btn-dark btn-lg">Reset</button>
    </form>
</div>
</div>
{% endblock %}