{% extends 'template.html' %}
{% load static %}
{% block content %}
      <div class="container my-4">
        
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_word"><i class="fa-solid fa-underline"></i></label>
            <input type="text" name="word" class="form-control" required id="id_word" placeholder="Key word in the sentence">
          </div>
          <div class="form-group">
            <label for="id_sentence"><i class="fa-regular fa-pen-to-square"></i></label>
            <input type="text" name="sentence" class="form-control" required id="id_sentence" placeholder="Your context sentence">
          </div>

            <div class="form-group">
                <label for="id_response_language"><i class="fa-solid fa-language"></i></label>
                <select type="text" name="response_language" class="form-control" required id="id_response_language">
                  <option selected disabled>Response Language</option>
                  <option value="AB">Abkhazian</option>
                  <option value="AA">Afar</option>
                  <option value="AF">Afrikanns</option>
                  <option value="SQ">Albanian</option>
                  <option value="AM">Amharic</option>
                  <option value="AR">Arabic</option>
                  <option value="HY">Armenian</option>
                  <option value="AS">Assamese</option>
                  <option value="AY">Aymara</option>
                  <option value="AZ">Azerbaijani</option>
                  <option value="BA">Bashkir</option>
                  <option value="EU">Basque</option>
                  <option value="BN">Bengali, Bangla</option>
                  <option value="DZ">Bhutani</option>
                  <option value="BH">Bihari</option>
                  <option value="BI">Bislama</option>
                  <option value="BR">Breton</option>
                  <option value="BG">Bulgarian</option>
                  <option value="MY">Burmese</option>
                  <option value="BE">Byelorussian</option>
                  <option value="KM">Cambodian</option>
                  <option value="CA">Catalan</option>
                  <option value="ZH">Chinese (Mandarin)</option>
                  <option value="CO">Corsican</option>
                  <option value="HR">Croation</option>
                  <option value="CS">Czech</option>
                  <option value="DA">Danish</option>
                  <option value="NL">Dutch</option>
                  <option value="EN">English, American</option>
                  <option value="EO">Esperanto</option>
                  <option value="ET">Estonian</option>
                  <option value="FO">Faeroese</option>
                  <option value="FJ">Fiji</option>
                  <option value="FI">Finnish</option>
                  <option value="FR">French</option>
                  <option value="FY">Frisian</option>
                  <option value="GD">Gaelic (Scots Gaelic)</option>
                  <option value="GL">Galician</option>
                  <option value="KA">Georgian</option>
                  <option value="DE">German</option>
                  <option value="EL">Greek</option>
                  <option value="KL">Greenlandic</option>
                  <option value="GN">Guarani</option>
                  <option value="GU">Gujarati</option>
                  <option value="HA">Hausa</option>
                  <option value="IW">Hebrew</option>
                  <option value="HI">Hindi</option>
                  <option value="HU">Hungarian</option>
                  <option value="IS">Icelandic</option>
                  <option value="IN">Indonesian</option>
                  <option value="IA">Interlingua</option>
                  <option value="IE">Interlingue</option>
                  <option value="IK">Inupiak</option> 
                  <option value="GA">Irish</option>
                  <option value="IT">Italian</option>
                  <option value="JA">Japanese</option>
                  <option value="JW">Javanese</option>
                  <option value="KN">Kannada</option>
                  <option value="KS">Kashmiri</option>
                  <option value="KK">Kazakh</option>
                  <option value="RW">Kinyarwanda</option>
                  <option value="KY">Kirghiz</option>
                  <option value="RN">Kirundi</option>
                  <option value="KO">Korean</option>
                  <option value="KU">Kurdish</option>
                  <option value="LO">Laothian</option>
                  <option value="LA">Latin</option>
                  <option value="LV">Latvian, Lettish</option>
                  <option value="LN">Lingala</option>
                  <option value="LT">Lithuanian</option>
                  <option value="MK">Macedonian</option>
                  <option value="MG">Malagasy</option>
                  <option value="MS">Malay</option>
                  <option value="ML">Malayalam</option>
                  <option value="MT">Maltese</option>
                  <option value="MI">Maori</option>
                  <option value="MR">Marathi</option>
                  <option value="MO">Moldavian</option>
                  <option value="MN">Mongolian</option>
                  <option value="NA">Nauru</option>
                  <option value="NE">Nepali</option>
                  <option value="NO">Norwegian</option>
                  <option value="OC">Occitan</option>
                  <option value="OR">Oriya</option>
                  <option value="OM">Oromo, Afan</option>
                  <option value="PS">Pashto, Pushto</option>
                  <option value="FA">Persian</option>
                  <option value="PL">Polish</option>
                  <option value="PT">Portuguese</option>
                  <option value="PA">Punjabi</option>
                  <option value="QU">Quechua</option>
                  <option value="RM">Rhaeto-Romance</option>
                  <option value="RO">Romanian</option>
                  <option value="RU">Russian</option>
                  <option value="SM">Samoan</option>
                  <option value="SG">Sangro</option>
                  <option value="SA">Sanskrit</option>
                  <option value="SR">Serbian</option>
                  <option value="SH">Serbo-Croatian</option>
                  <option value="ST">Sesotho</option>
                  <option value="TN">Setswana</option>
                  <option value="SN">Shona</option>
                  <option value="SD">Sindhi</option>
                  <option value="SI">Singhalese</option>
                  <option value="SS">Siswati</option>
                  <option value="SK">Slovak</option>
                  <option value="SL">Slovenian</option>
                  <option value="SO">Somali</option>
                  <option value="ES">Spanish</option>
                  <option value="SU">Sudanese</option>
                  <option value="SW">Swahili</option>
                  <option value="SV">Swedish</option>
                  <option value="TL">Tagalog</option>
                  <option value="TG">Tajik</option>
                  <option value="TA">Tamil</option>
                  <option value="TT">Tatar</option>
                  <option value="TE">Telugu</option>
                  <option value="TH">Thai</option>
                  <option value="BO">Tibetan</option>
                  <option value="TI">Tigrinya</option>
                  <option value="TO">Tonga</option>
                  <option value="TS">Tsonga</option>
                  <option value="TR">Turkish</option>
                  <option value="TK">Turkmen</option>
                  <option value="TW">Twi</option>
                  <option value="UK">Ukranian</option>
                  <option value="UR">Urdu</option>
                  <option value="UZ">Uzbek</option>
                  <option value="VI">Vietnamese</option>
                  <option value="VO">Volapuk</option>
                  <option value="CY">Welsh</option>
                  <option value="WO">Wolof</option>
                  <option value="XH">Xhosa</option>
                  <option value="JI">Yiddish</option>
                  <option value="YO">Yoruba</option>
                  <option value="ZU">Zulu</option>
                </select>
            </div>
            <div class="form-group">
                <label for="id_number_of_meanings"><i class="fa-solid fa-list-ul"></i></label>
                <select class="form-control" name="number_of_meanings" id="id_number_of_meanings">
                    <option selected disabled>Number of meanings</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
          

          <button type="submit" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      
      
        {% if response %}
          <h1>Language: {{response.Language}}</h1>
          <table>
            <tr>
              <th>Meaning</th>
              <th>Similarity score</th>
              <th>Example</th>
              <th>Example meaning</th>
            </tr>
            {% for m in meanings %}
              <tr>
                <td>{{m.meaning}}</td> 
                <td>{{m.similarity_score}}</td> 
                <td>{{m.example_sentence}}</td>
                <td>{{m.example_sentence_meaning}}</td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}
      </div>
      {% endblock content %}