body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #FFE8E0;
  font-family: "Josefin Sans", "Roboto", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

#container {
  display: flex;
  position: relative;
}

.inner {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  margin: auto;
  height: 100%;
}

.header_big .span_header {
  max-width: 1000px;
  margin-top: 2em;
}
.header_big button {
  border: none;
  margin-top: 3em;
}
.header_big button a {
  color: #fff;
  background: #130303;
  border-radius: 50px;
  padding: 0.7em 1.5em;
  font-size: 1.5em;
}
.header_big button a:hover {
  background: #410909;
  text-decoration: none;
}

nav {
  background-color: #130303;
  height: 100vh;
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2em;
  align-items: center;
  padding: 10px;
}
nav ul {
  margin: 10px 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

form .btn-primary i {
  margin-right: 10px;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 1em;
}
.form-group i {
  font-size: 2em;
}
.form-group label {
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.response {
  margin: 3em 0;
}

.errorlist {
  color: red;
}

.register form {
  text-align: left;
}

.btn-outline-secondary {
  height: calc(1.5em + 0.75rem + 2px);
}
.btn-outline-secondary i {
  font-size: 1.5em;
}

.rmb-me {
  justify-content: center;
}
.rmb-me label {
  width: 15%;
}

.avatar-thumbnail img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}

.form-control-file {
  width: auto;
}

@media screen and (max-width: 767px) {
  nav {
    height: auto;
    width: 100%;
    flex-direction: row;
  }
  nav ul {
    display: flex;
    gap: 10px;
  }
  #container {
    flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */