{% extends "template.html" %}
{% block content %}
<div class="container my-4 p-4">
    <div class="row justify-content-center">
        <div class="col-lg-12">
                <div class="card border-0 rounded-lg mt-0 mb-3">
                    <div class="card-header justify-content-center">
                        <h3 class="font-weight-light my-4 text-center">Change Your Password</h3>
                    </div>
                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div id="form_errors">
                                {% for key, value in form.errors.items %}
                                    <strong>{{ value }}</strong>
                                {% endfor %}
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}

                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="form-group">
                                        <label class="mb-1" for="id_old_password">Old Password</label>
                                        <input type="password" name="old_password" autocomplete="new-password"
                                                class="form-control" required id="id_old_password"
                                                placeholder="Enter Old Password"/>
                                        <span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="form-group">
                                        <label class="mb-1" for="id_new_password1">New Password</label>
                                        <input type="password" name="new_password1" autocomplete="new-password"
                                                class="form-control" required id="id_new_password1"
                                                placeholder="Enter New Password"/>
                                        <span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="form-group">
                                        <label class="mb-1" for="id_new_password2">New Password Confirmation</label>
                                        <input type="password" name="new_password2" autocomplete="new-password"
                                                required id="id_new_password2" class="form-control"
                                                placeholder="Confirm New Password"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="form-group mt-0 mb-1">
                                        <button type="submit" class="col-md-12 btn btn-dark" id="reset">Update Password</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock content %}