{% extends 'template.html' %}
{% block title %} Intelligent Dictionary | Login Page {% endblock title%}
{% block content %}
  <div class="container my-4 p-4">
      <div class="row justify-content-center">
          <div class="col-lg-12">
              <div class="card border-0 rounded-lg mt-0 mb-3">
                  <div class="card-header justify-content-center">
                    <h3 class="font-weight-light my-1 text-center">Sign In</h3>
                  </div>
                  {% if form.errors %}
                      <div class="alert alert-danger alert-dismissible" role="alert">
                          <div id="form_errors">
                              {% for key, value in form.errors.items %}
                                  <strong>{{ value }}</strong>
                              {% endfor %}
                          </div>
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                  {% endif %}
                  <div class="card-body">
                      <form method="POST">
                          {% csrf_token %}
                          <div class="form-row">
                              <div class="col-md-10 offset-md-1">
                                    <a href="{% url 'social:begin' 'google-oauth2' %}"
                                            class="btn btn-link btn-lg active btn-block">Sign in with Google</a>
                                    <hr>
                                    <p class="text-center"><strong>OR</strong></p>
                                    <hr>   
                              </div>
                          </div>
                          <div class="form-row">
                              <div class="col-md-10 offset-md-1">
                                  <div class="form-group">
                                    <label class="mb-1">Username</label>
                                    {{ form.username }}
                                  </div>
                              </div>
                          </div>
                          <div class="form-row">
                              <div class="col-md-10 offset-md-1">
                                  <div class="form-group">
                                    <label class="mb-1">Password</label>
                                    {{ form.password }}
                                  </div>
                              </div>
                          </div>
                          <div class="form-row">
                              <div class="col-md-10 offset-md-1">
                                  <div class="form-group rmb-me">
                                      <!-- Add a Remember me functionality -->
                                      {{ form.remember_me }}
                                      <label> Remember me</label>
                                  </div>
                              </div>
                          </div>
                          <div class="form-row">
                              <div class="col-md-10 offset-md-1">
                                  <div class="form-group mt-0 mb-1">
                                    <button name="login" class="col-md-12 btn btn-dark" id="login">Sign in</button>
                                  </div>
                              </div>
                          </div>
                      </form>
                  </div>
                  <div class="card-footer text-center">
                        <a href="{% url 'register' %}">Don't have an account yet? Go to signup</a><br>
                        <a href="{% url 'password_reset' %}"><i>Forgot Password?</i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}