{% extends 'template.html' %}
{% block title %} Intelligent Dictionary | Logout {% endblock title %}
{% block content %}
<div class="container my-4">
  <div class="card">
    <div class="card-body">
    <h3 class="card-title">You have been logged out</h5>
    <p class="card-text">
        Thanks for your time, contact me for any comments or suggestions using my email address.
    </p>
    <br><hr><a href="{% url 'login' %}" class="btn btn-dark">Sign in again</a>
    </div>
  </div>
</div>
{% endblock %}